<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Kirill</title>
</head>
<body>
<%= erb :'../../../client_audio_output/src/components/AudioOutput/audio_output' %>
<script type="application/javascript" src="/js/app.js"></script>
</body>
</html>