<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Kirill</title>
</head>
<body>
<%= erb :audio_output %>
</body>
</html>